@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/corpo.css);
@import url(styles/vagas.css);
@import url(styles/card.css);
@import url(styles/rodape.css);

:root{
    --cor-de-fundo: #ffff;
    --cor-fonte-principal: #101828;
    --branco: #ffff;
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --cinza-secundario: #98A2B3;
    --vermelho: #8E2424;
    --branco-secundario: #F9FAFB;
    --vermelho-claro: #8E24240D;
    --fonte-principal: "Inter";
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-fonte-principal);
}
